@charset "utf-8";
/* CSS Document */
.header{ background:url(../images/topbar_bg.png) repeat-x; height:41px; position:fixed; left:0; top:0; width:100%; z-index:100;}
.header_box{ padding:0 20px;max-width: 1560px;min-width: 1200px;}
.header a{ color:#ccc;}
.logo{ margin-right:24px;}
.logo a{ background:url(../images/logo2.png) no-repeat; width:118px; height:41px; display:block; text-indent:-9999em;}
.hd_menu{ margin-right:79px; width:692px;}
.hd_menu .hd_menu_son{ line-height:16px; float:left; height:16px;}
.hd_menu .hd_menu_son.active{ color:#ccff99;}
.hd_menu i{ background:url(../images/hd_sj.png) no-repeat; width:7px; height:4px;margin-left:3px; margin-top:6px;}
.hd_menu i.active{ background:url(../images/sj2.png) no-repeat;}
.hd_menu li{padding:13px 12px; line-height:41px; position:relative; height:15px;}
.hd_menu .bd{ border-left:1px dotted #727272;}
.hd_menu div{width:80px; background:#111; position:absolute; left:0; top:41px; display:none;}
.hd_menu div a{display:block; line-height:33px; padding-left:8px;}

.hd_menu div a:hover{ background:#5a840a; color:#fff;}
.hd_menu .hd_menu_son:hover{ color:#ccff99;}
.pos_box{ position:relative;}
.pos_box span{ position:absolute; background:url(../images/pos.png) no-repeat; width:24px; height:17px; right:12px; top:4px;}

.header .search_box{ width:222px; height:40px; position:relative;}
.search{ background:url(../images/bg.png) no-repeat; width:185px; height:29px; padding: 0 15px; margin-top:5px; margin-left:4px;}
.search.active{ background:url(../images/bg2.png) no-repeat; width:185px; height:31px;}
.txt{ width:160px; padding:8px 0;}
.sub{ background:url(../images/sub.png) no-repeat; width:16px; height:17px; margin-top:6px;}
.search_pos{ position:absolute; left:0; top:40px; background:#121212; width:222px; display:none;}
.search_pos a{ display:block; padding-left:40px; line-height:30px;}
.search_pos a:hover{ background:#4d4d4d;}
.hd_right{ margin-top:13px; width:132px;}
.hd_right a,span{ line-height:16px;}
.hd_right span{ color:#666; font-size:16px; margin: 0 15px;}
.vip{ margin-right:6px;}
.hd_right a:hover{ color:#ccff99;}
/*头部结束*/
.mv_tit{ width:1000px; margin:66px auto 34px;}
.mv_tit h2{font-size:23px; color:#690; font-weight:400;}
.mv_tit_r{ overflow:hidden; width:264px; margin-right:30px;}
.mv_tit_r a{ margin:0 17px; font-size:16px; color:#333;}
.mv_tit_r a.active{ border-bottom:2px solid #690; padding-bottom:5px;}
.mv_tit_r li{ border-right:1px dotted #7f7f7f; height:12px; line-height:12px; margin-top:5px;}
.mv_tit_r ul{ width:290px; height:30px;}

/*内容开始*/
.all_cont{ width:998px; border:1px solid #d8d9da; border-radius:3px; margin:0 auto;}
.all_cont_left{ width:237px; background:#f9f9f9;}
.all_cont_left h2{ font-size:18px; width:215px; border-bottom:1px solid #e5e5e5; text-align:center; height:32px; margin-top:20px;}
.all_cont_side{ padding-left:30px;}
.all_cont_side dd{ float:left; width:82px; margin-bottom:2px;}
.all_cont_side dd a{ padding:3px 7px; border:1px solid #f9f9f9; display:inline-block;}
.all_cont_side dd a.active{ background:#6ca620; border:1px solid #41810a; color:#fff;}
.all_cont_side dd a:hover{ background:#fff; color:#669933; border:1px solid #c0d082;}
.all_cont_side dt{ font-size:18px; color:#ccc;width:210px; height:51px; line-height:51px;}

.all_cont_right{ background:#fcfffa; border-left:1px solid #e5e5e5; width:760px;}
.all_cont_right_list{ padding-left:25px; background:#fff; padding-top:58px; padding-bottom:12px; height:171px; border-bottom:2px solid #bdbdbd;}
.all_cont_right_list a{ padding:4px 6px; border:1px solid #fff;}
.all_cont_right_list a.active{ background:#6ca620; border:1px solid #41810a; color:#fff; margin-right:7px; padding:4px 7px;}
.all_cont_right_list a:hover{ background:#fff; color:#669933; border:1px solid #c0d082;}
.all_cont_right_list h2{ color:#000; width:55px; font-weight:700; font-size:12px; line-height:20px;}
.all_cont_right_list li{ margin-bottom:15px;}


.all_main_nav a{ padding-top:15px; display:block; padding-left:10px; padding-right:10px;height:28px; margin-top:-2px; }
.all_main_nav a.active{ background:url(../images/bg0.png); height:28px;}
.all_main_nav i{ background:url(../images/spritebg.png) no-repeat -1px -48px; width:13px; height:13px; margin-right:12px;}

.all_main_nav em{ background:url(../images/sj4.png) no-repeat; width:7px; height:4px; margin-top:8px; margin-left:8px;}
.all_main_nav a:hover i{ background-position:-17px -48px;}
.all_main_nav a:hover span{ color:#690; text-decoration:underline;}
.all_main_nav li.active{ border-left:1px solid #dadadb; border-right:1px solid #dadadb; background:#f7fcf0; border-bottom:1px solid #dadadb; margin-left:-1px; margin-right:-1px;}
.all_main_nav_pos span{ display:block; width:119px; height:28px; margin-left:5px; text-align:center; line-height:28px; border:1px solid #f7fcf0; cursor:pointer;}
.all_main_nav_pos span:hover{ border:1px solid #c0d082; border-radius:4px;}
.all_main_nav_pos{ padding-bottom:5px; display:none;}
.all_main_nav p{ margin-left:16px; margin-top:15px; margin-right:18px;}
.btn_left{ background:url(../images/icon00.png) no-repeat -240px -80px; width:40px; height:27px;}
.btn_right{ background:url(../images/icon00.png) no-repeat -280px -107px; width:40px; height:27px;}

























