@charset "utf-8";
/* CSS Document */
.header{ background:url(../images/topbar_bg.png) repeat-x; height:41px; position:fixed; left:0; top:0; width:100%; z-index:100;}
.header_box{ padding:0 20px;max-width: 1560px;min-width: 1200px;}
.header a{ color:#ccc;}
.logo{ margin-right:24px;}
.logo a{ background:url(../images/logo2.png) no-repeat; width:118px; height:41px; display:block; text-indent:-9999em;}
.hd_menu{ margin-right:79px; width:692px;}
.hd_menu .hd_menu_son{ line-height:16px; float:left; height:16px;}
.hd_menu .hd_menu_son.active{ color:#ccff99;}
.hd_menu i{ background:url(../images/hd_sj.png) no-repeat; width:7px; height:4px;margin-left:3px; margin-top:6px;}
.hd_menu i.active{ background:url(../images/sj2.png) no-repeat;}
.hd_menu li{padding:13px 12px; line-height:41px; position:relative; height:15px;}
.hd_menu .bd{ border-left:1px dotted #727272;}
.hd_menu div{width:80px; background:#111; position:absolute; left:0; top:41px; display:none;}
.hd_menu div a{display:block; line-height:33px; padding-left:8px;}

.hd_menu div a:hover{ background:#5a840a; color:#fff;}
.hd_menu .hd_menu_son:hover{ color:#ccff99;}
.pos_box{ position:relative;}
.pos_box span{ position:absolute; background:url(../images/pos.png) no-repeat; width:24px; height:17px; right:12px; top:4px;}

.header .search_box{ width:222px; height:40px; position:relative;}
.search{ background:url(../images/bg.png) no-repeat; width:185px; height:29px; padding: 0 15px; margin-top:5px; margin-left:4px;}
.search.active{ background:url(../images/bg2.png) no-repeat; width:185px; height:31px;}
.txt{ width:160px; padding:8px 0;}
.sub{ background:url(../images/sub.png) no-repeat; width:16px; height:17px; margin-top:6px;}
.search_pos{ position:absolute; left:0; top:40px; background:#121212; width:222px; display:none;}
.search_pos a{ display:block; padding-left:40px; line-height:30px;}
.search_pos a:hover{ background:#4d4d4d;}
.hd_right{ margin-top:13px; width:132px;}
.hd_right a,span{ line-height:16px;}
.hd_right span{ color:#666; font-size:16px; margin: 0 15px;}
.vip{ margin-right:6px;}
.hd_right a:hover{ color:#ccff99;}
/*头部结束*/
.mv_tit{ margin-top:66px; margin-bottom:34px;}
.mv_tit h2{font-size:23px; color:#690; font-weight:400;}
.mv_tit_r{ overflow:hidden; width:264px; margin-right:30px;}
.mv_tit_r a{ margin:0 17px; font-size:16px; color:#333;}
.mv_tit_r a.active{ border-bottom:2px solid #690; padding-bottom:5px;}
.mv_tit_r li{ border-right:1px dotted #7f7f7f;}
.mv_tit_r ul{ width:290px; height:30px;}

/*mv_main开始*/
.mv_main{ background:#fff; border-radius:4px; padding-left:10px; width:990px; padding-bottom:49px; margin-bottom:30px;}
.mv_main_l_list{ width:321px; height:499px; border:1px solid #ebebeb; overflow:hidden;}
.mv_main_l h2{ background:url(../images/sprite.png) no-repeat 0 -160px; width:136px; height:43px; margin-bottom:13px; margin-top:43px;}
.mv_main_l_list li{ border-bottom:1px solid #f1f1f1; line-height:37px; padding-left:23px; padding-right:55px; position:relative;}
.mv_main_l_list .first{ margin-top:9px; padding-bottom:17px; line-height:18px; height:80px;}
.first_img{ border:3px solid #fff;}
.first_box{ border:1px solid #ccc; margin-right:10px;}
.first_img{ display:block; position:relative;}
.first_r{ width:101px; color:#666;}
.first_r a{ color:#690;}
.first_img_pos{ background:url(../images/mv4.png) no-repeat; position:absolute; left:0; top:0; width:25px; height:25px; color:#fff; text-align:center; line-height:25px;}
.more_pos{ position:absolute; background:url(../images/sprite.png) no-repeat -211px -88px; width:14px; height:14px; right:15px; bottom:11px; transition:0.5s all ease;}
.more_pos:hover{ transform:rotate(360deg);}
.list_left{ color:#666; margin-left:5px; width:88px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list_right{ color:#690;}
.nub{ color:#999;}
.e35b72{ color:#e35b72;}
.last .fl{ background:url(../images/sprite.png) no-repeat 0 -133px; height:27px; width:60px; margin-top:12px; padding-left:51px; line-height:27px; margin-bottom:11px;}
.last .fl:hover{ background-position:-111px -133px}
.last .fr{ margin-top:18px; line-height:12px; padding-top:2px;}
.last .fr:hover{ background:#690; color:#fff; padding:2px 3px;}


.mv_main_r{ margin-left:48px; width:266px;}
.mv_main_r h3{ color:#363; font-size:18px; font-weight:normal; margin-top:45px; margin-bottom:17px; margin-left:3px;}
.mv_bd{ border-top:1px solid #ccc; border-bottom:1px solid #ccc; height:1px; margin-bottom:8px;}
.mv_main_r_list a{ margin-right:6px; padding:4px 5px 3px;}
.mv_main_r_list a:hover{ background:#690; color:#fff;}
.mv_main_r_list dt i{ background:url(../images/sprite.png) no-repeat -184px -89px; display:inline-block; width:6px; height:6px; margin-right:4px;}
.mv_main_r_list dt{ margin-top:14px; margin-left:3px; margin-bottom:6px;}
.mv_main_r_list dd{ line-height:26px;}


.mv_banner{ width:298px; height:198px; border:1px solid #e6e6e6; margin-left:-15px; margin-top:28px; text-align:center; border-bottom:none; position:relative;}
.mv_banner a{ position:relative; display:block;}
.logo_pos{ position:absolute; left:0;bottom:0; width:300px; height:32px;}
.logo_pos i{ position:absolute; height:32px; background:#fff;width:300px; opacity:0.6; left:0px; bottom:0;}
.logo_pos p{ background:url(../images/logo3.png) no-repeat; width:115px; height:16px; position:absolute; bottom:8px; left:50%; margin-left:-58px;}
.tao{ background:url(../images/tao.png) no-repeat; width:24px; height:16px; margin-right:1px;}
.mv_btn{ background:#989898; color:#fff; width:17px; height:16px;}
.mv_logo_pos{ position:absolute; right:0; bottom:0;}

.mv_main_list li{ padding-right:12px;}
.mv_main_list{ overflow:hidden;}
.mv_main_list li{ padding-left:10px;line-height:26px; height:118px; overflow:hidden; padding-top:6px;}
.mv_main_list li img{ display:block;}
.li_left{ border:1px solid #cecece;}

.li_left_right{ width:177px; padding-left:10px;}

.li_left_right_tit span{ color:#690px; color:#690;}
.li_left_right_tit i{ background:url(../images/sprite.png) no-repeat -167px -89px; width:16px; height:16px; display:inline-block; vertical-align:top; margin-right:5px; }
.li_left_right_tit p{ line-height:16px; height:16px;}
.li_left_right_tit{ margin-top:4px; margin-bottom:18px;}
.li_left_right_list{ margin-right:3px;}
.li_left_right_list p{ background:url(../images/dd.png) no-repeat 0; padding-left:9px;}
.li_left_right_list i{ background:url(../images/sprite.png) no-repeat -196px -88px; width:14px; height:14px; margin-right:8px;}
.li_left_right_list span{ background:url(../images/sprite.png) no-repeat -211px -88px; width:14px; height:14px;}
.li_left_right_list .fr{ margin-top:7px;}

.mr3{ margin-right:3px;}
.w323px{ width:323px; border:1px solid #ebebeb;}
.w323px ul{ border:none; border-left:1px solid #ebebeb; margin-left:1px;}
.mv_main_l_tit_r i{ background:url(../images/huan.png) no-repeat 0;height:13px; display:inline-block; padding-left:20px; color:#333;}
.mv_main_l_tit_r{ margin-right:12px; margin-top:50px; padding-top:14px;}
.mv_main_l_tit_r a{ color:#690;}

.footer{ height:150px; background:#fff; text-align:center; overflow:hidden;}
.footer_top a{border-left:1px dotted #f9f9f9; border-right:1px dotted #bdbdbd; padding:0 12px;}
.footer_top{ margin-left:-1px; overflow:hidden; width:450px;}
.footer_top_box{ width:442px; overflow:hidden; margin:40px auto 30px;}
.footer p{ margin-bottom:10px;}
.footer a:hover{ color:#690;}
.footer span{ position:absolute; background:url(../images/logo4.png) no-repeat; width:35px; height:43px; right:-8px; bottom:0;}
.footer_box{ width:875px; margin:0 auto; position:relative;}

























